@font-face {
  font-family: "Basis Grotesque";
  src: url(/src/components/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
  font-family: "Freight_Text_Pro_Bold";
  src: url(/src/components/fonts/FreightTextProBold-Regular.otf);
}
section.annoucment {
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
  margin: 0;
  background-color: #f4f4f4;
}
.annoucment p{
  margin: 0;
  padding: 16px 0px;
}

.banner{
  background-image: url("./components/images/banner2.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
@media (min-width: 768px){
.col-md-3 {
    padding: 0px;
}
}
@media (min-width: 768px){
  .col-md-4 {
      padding: 0px;
  }
}
@media (min-width: 768px){
  .col-md-5 {
      padding: 0px;
  }
}
.turo-filter .row{
  display: flex;
  justify-content: center;
}
.ant-picker.css-dev-only-do-not-override-1s3dcof{
  width: 50%;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
input.ant-input.css-dev-only-do-not-override-1s3dcof {
  border: none;
  padding: 0px 11px;
  border-radius: 35px;
}
.turo-filter {
  background-color: white;
  border-radius: 30px;
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  position: absolute;
  top: 12%;
  right: 5%;
  left: 5%;
}
label {
  display: inline-block;
  padding: 0px 10px;
}
.search-filter {
  border-right: 1px solid #C7C7C7;
}
.ant-space.css-dev-only-do-not-override-1s3dcof.ant-space-horizontal.ant-space-align-center{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #593CFB;
  border-radius: 30px;
  color: white;
}

span.anticon.anticon-search svg {
  width: 3.5em;
    height: 2em;
}
@media screen and (min-width:1400px){
  .turo-filter{
    left: 20%;
    right: 20%;
  }
}
@media screen and (min-width:992px) and (max-width:1399px){
  .turo-filter{
    left: 10%;
    right: 10%;
  }
}
.your-drive h1{
  font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 90px;
  text-transform: none;
}
.your-drive p{
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 32px;
  text-transform: none;
  margin-bottom: 48px;
}
.your-drive {
  text-align: center;
}
.rest{
  background-color: #F2E9FF;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 850px;
    z-index: -1;
    bottom: -12px;
}
.resting{
  position: relative;
}
@media screen and (min-width:992px){
  .rest{
    left: 17%;
  }
  .your-drive p{
    margin-bottom: 48px;
  }
  .your-drive h1{
    margin-top: 40px;
  }
}
@media screen and (min-width:768px){
  .your-drive p{
    margin-top: 24px;
  }
  .your-drive h1{
    margin-bottom: 16px;
  }
  .slider-1{
    margin-top: 88px;
    margin-bottom: 50px;
  }
}

.car-slide img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.car-slide{
  width: 90% !important;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
  color: #231F20;
  margin-bottom: 15px;
}
.car-slide p {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}


.slick-arrow {
  display: block;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 42%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}

.slick-next {
  right: -60px;
}
.slick-prev {
  left: -60px;
  z-index: 300;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
button.slick-arrow.slick-prev {
  position: absolute;
  top: -24%;
  left: 90%;
}
button.slick-arrow.slick-next {
  position: absolute;
  top: -24%;
  right: 5%;
}
.slick-slider.slick-initialized {
  margin-top: 40px;
}
.head-with-arrows h2{
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
}

.collect img {
  width: 100%;
}
.out .row{
  align-items: center;
}
.out .row .col-md-6 h3{
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 32px;
  text-transform: none;
}
.out .row .col-md-6 span{
  color: #593cfb;
}
button.btn.btn-primary.sam{
  display: inline-block;
  height: 50px;
  line-height: 49px;
  padding: 0 18px !important;
  text-align: center;
  vertical-align: top;
  background-color: #593CFB !important;
  border: 1px solid #593CFB !important;
  color: #FFFFFF;
  font-size: 18px !important;
  -webkit-transition: 0.5s border,0.5s background;
  transition: 0.5s border,0.5s background;
  border-radius: 0% !important;
}
.FAQs_one h1 {
  font-family: "Freight_Text_Pro_Bold";
  font-size: 52px;
  color: #121214;
  text-align: center;
  z-index: 6;
}
@media only screen and (max-width: 600px) {
  .Search {
    height: auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .First h1 {
    font-size: 50px;
  }
  .First h6 {
    font-size: 16px;
  }
  .Cards {
    margin: 0px 73px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(72% + 0px) !important;
  }
  .Footer_text {
    padding: 10px 10px !important;
  }
  .FAQs_one h1 {
    font-size: 26px;
  }
  .Sec_Sec img{
    width: 100%;
  }
}

.hide{
  display: none !important;
}
.card-image-top{
  opacity: 1 !important;
  width: 100% !important;
}
.card {
  width: 90%;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
  color: #231F20;
  border: none;
}
.card-text{
  margin: 0;
  color: inherit;
  margin-bottom: 12px;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: none;
}
.card-img-sami{
  left: 0 ;
  opacity: 0 ; 
  position: absolute ;
  top: 0 ;
  width: 100% ;
  z-index: 1 ;
  padding: 15px;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgb(35 31 32 / 10%), 0 0 3px 0 rgb(35 31 32 / 5%);
    color: #593CFB;
    cursor: pointer;
}
.card-img-sami:hover{
  opacity: 1;
}
.destination h2{
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
}
.slick-list{
  padding: 15px;
}
.destination {
  margin-top: 50px;
  margin-bottom: 50px;
}
.testtext{
  font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
  font-size: 51px !important;
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 56px;
  text-transform: none;
}
.fest{
  background-color: #F2E9FF;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 460px;
    z-index: -1;
    bottom: -18px;
}
@media screen and (min-width:992px){
  .fest{
    left: 31%;
  }
}

.feature-text{
  margin: 0;
  color: #121214;
  margin-bottom: 24px !important;
  margin-top: 24px !important;
  text-align: center !important;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0;
}
.feature-banner{
  background-image: url('./components/images/lakebanner.jpg');
  width: 600px;
  max-width: 100%;
  height: 216px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: auto;
}
@media screen and (min-width:992px){
  .feature-banner{
    background-position: left;
    width: 944px;
    height: 496px;
  }
}

@media screen and (min-width:768px){
.feature-section{
  padding: 0 0 0 112px;
  display: block;
}
.card-sami{
  max-width: 360px;
  padding: 32px 24px;
  margin: 0 0 0 24px;
  width: 944px;
  top: 50%;
  left: 0;
  transform: translateY(-135%);
  background-color: #121214;
    color: #FFFFFF;
}
.card-sami h3{
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 32px;
    text-transform: none;
}
}
.card-sami{
  max-width: 340px;
  padding: 32px 24px;
  width: 944px;
  top: 50%;
  left: 0;
  background-color: #121214;
    color: #FFFFFF;
}

.cads{
  font-weight:bold;
}
.feature-section {
  margin-top: 50px;
}